html {
  background-color: lightgray;
}

h1{
  color: salmon;
  text-align: center;
  background-color: lightgray;
}
img {
  align-content: center;
  background-color: lightgray
}
p{
  color: salmon;
  text-align: center;
  background-color: lightgray;
}
h3{
  color: salmon;
  text-align: center;
  background-color: lightgray;
