html, body {
  background-color: lightgray;
}

h1{
  color: #ff751a;
  text-align: center;
  background-color: lightgray;
  font-family: 'Dosis', sans-serif;
}
img {
  align-content: center;
  background-color: lightgray
}
p{
  color: #ff751a;
  text-align: center;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
}
h3{
  color: #ff751a;
  text-align: center;
  background-color: lightgray;
  font-family: 'Dosis', sans-serif;
  footer {
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
  }

  footer #social-links {
      text-align: center;
  }

  footer #social-links li {
      padding-right: 25px;
      font-size: 3.5em;
      display: inline;
  }

  footer #social-links li a {
      color: #333333;
      transition: 0.5s;
  }

  footer #social-links li a:hover {
      color: #ff9999;
      transition: 0.5s;
  }
