html, body {
  background-color: lightgray;
}

h1{
  color: salmon;
  text-align: center;
  background-color: lightgray;
  font-family: 'Dosis', sans-serif;
}
img {
  align-content: center;
  background-color: lightgray
}
p{
  color: salmon;
  text-align: center;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
}
h3{
  color: salmon;
  text-align: center;
  background-color: lightgray;
  font-family: 'Dosis', sans-serif;
