h1 {
  font-family: arial;
  color: red;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;


.container {
  position: relative;
  width: 60%;
  max-width; 300px;
}

.image {
  display: block;
  width: 100%
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 88%;
  transition: .5s ease;
  opacity:0;
  color: red;
  font-size: 25px;
  font-family: arial;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
