body, html {
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

#header {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

#header #header-inner {
    position: relative;
    top: 25%;
    text-align: center;
}

#header #header-inner h1 {
    font-size: 7em;
}

#header #header-inner h5 {
    margin-top: 50px;
    font-size: 2em;
} 

#content {
    margin-top: 40px;
}

#content #content-header {
    font-size: 5em;
}

.event-box {
    width: 100%;
    height: 400px;
    background-color: #99ddff;
    margin-bottom: 35px;
    color: #ff8533;
    text-shadow: 0px -1px #330000;
    cursor: pointer;
}

.event-box .event-inner {
    height: 100%;
    overflow: hidden;
}

.event-box .event-info {
    position: relative;
    text-align: center;
    top: 25%;
}

.event-info h1 {
    font-size: 3em;
}

.event-info hr {
    width: 60%;
    border: 2px solid #ff8533;
}

#music {
    background-image: url(./img/music.png);
    background-size: cover;
}

#food {
    background-image: url(./img/food.png);
    background-size: cover;
}

#attractions {
    background-image: url(./img/attractions.png);
    background-size: cover;
}

#entertainment {
    background-image: url(./img/entertainment.png);
    background-size: cover;
}

#culture {
    background-image: url(./img/culture.png);
    background-size: cover;
}

#shopping {
    background-image: url(./img/shopping.png);
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #ff8533;
    height: 100px;
}